/*
    MAIN THEME: #6DCEBD
    LIGHTER:    #A1FFEE
    DARKER:     #388274

    FONT FAMILY: Lato Regular 400   https://fonts.google.com/specimen/Lato
*/

/* html, body, #root, .app {
    min-width: 100vw;
} */

.app {
	display: flex;
}

.app > h1 {
    position: absolute;
    top: 1.5%;
    left: 1.5%;
    color: white;
    font-size: 28px;
}

.landing-content > h2 {
    font-size: 32px;
    font-weight: bold;
}

.landing-img, .landing-img > img {
	height: 100vh;
	max-height: 100vh;
}

.app > div:last-child {
    background-color: #424F4D;
}

nav {
    margin-right: 10px !important;
}

ul {
    display: flex;
    margin-top: 15px !important;
    justify-content: flex-end;
    align-items: center;
}

li {
    margin-right: 20px !important;
}

a {
    text-decoration: none;
    border-radius: 20px;
    padding: 5px;
    color: white;
    margin-right: 15px !important;
}

.metamask-connect {
    color: orange;
}

.landing-content-parent {
    width: 100%;
}

.landing-content {
    width: 75%;
    margin: 0 auto;
    margin-top: 280px;
    color: white;
    /* background-color: #6DCEBD; */
    /* border-radius: 30px; */
}

.landing-content > p, .landing-content > div > p {
    font-size: 18px;
    line-height: 2;
}

.landing-content > form {
    margin-bottom: 60px;
}

.landing-content > form > input {
    width: 80%;
    margin-right: 10px;
    height: 40px;
}

.landing-content > form > button {
    background-color: #388274;
    color: white;
    border-radius: 40px;
    padding: 5px;
    height: 40px;
    width: 80px;
}


.landing-content > div > * {
    margin-top: 50px;
}

.test-button {
    position: absolute;
    bottom: 1%;
    right: 1%;
}